.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


input,
textarea {
    background-color: antiquewhite;
    padding: 1rem .5rem;
}

input:focus,
textarea:focus {
    background-color: #fff;
}

.checkbox-section {
    margin: 12px;
    color: #333;
    background-color: #f6f6f6;
}

input[type='checkbox'] {
    border: 1px solid #333;
}

.btn-section {
    margin: 12px;
}